@import '../../constants/constants.scss';

.layout {
    .icon {
        margin-top: -100px;
    }

    p {
        font-size: 1.8rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 70%;
            height: 5vh;
            border-radius: 7px;
            font-size: 1.5rem;
        }
        button {
            width: 25%;
            height: 5.5vh;
            border-radius: 5px;
            font-size: 1.5rem;
        }
    }
}
