$color-headbar: #ededed;
$color-primary: #009588;
$color-border: #ccc;
$color-selected: #eee;

$app-max-width: 1200px;

$height-head: 106px;
$height-headbar: 70px;
$height-chatInput: 3.5rem;

$margin-top: 35px;
