@import '../../../constants/constants.scss';

.headbar {
    display: grid;
    grid-template: 100% / 70px 1fr 70px;
    align-items: center;
    background-color: $color-headbar;
    // border-bottom: 1px solid $color-primary;
    height: 100%;

    .first {
        justify-self: center;
        cursor: pointer;
        color: $color-primary;
    }

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;

        input {
            background: transparent;
            border: none;
            outline: none;

            height: 100%;
            width: 100%;
            font-size: 1.3rem;
        }
    }

    .last {
        justify-self: center;
        cursor: pointer;
        color: $color-primary;
    }
}