@import '../constants/constants.scss';

.app {
  // background-color: #d2dbdb;     //  8
  // z-index: -200;                 //  8

  .head {
    width: 100%;
    height: $height-head;
    position: fixed;
    z-index: -1;
    background-color: $color-primary;
  }

  > .main {
    padding-top: $margin-top;

    max-width: $app-max-width;
    margin: 0 auto;
  }
}
